body {
    background-color: #e7c29e;
    background-image: url(Background.webp);
}

li {
    background-color: #f1dac2;
    color: rgb(0, 0, 0);
    border: 2px solid black
}

.Test {
    color: rgb(35, 16, 16);
    margin: 0.5cm;
}

#main {
    border: 2px solid black
}
